@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Hurricane&display=swap');

#logo {
  max-width: 200px;
  min-width: 200px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#bloco-1 {
  height: 400px;
  width: 100%;
  margin-bottom: 2%;
  background-color: rgb(250, 248, 248);
}

#img-fundo {
  max-height: 400px;
  position: absolute;
  left: 15%;
  filter: grayscale(50%) opacity(80%);
}

#bloco-texto {
  position: absolute;
  margin-left: 50%;
  padding-top: 8%;
  font-family: 'Hurricane', cursive;
  color: rgb(27, 117, 188);
  font-size: 50px;
  cursor: default;
}

.txtBranco {
  color: gray;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #185583 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #185583;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.accordion-body {
  max-height: 500px;
  overflow-y: scroll;
}

.accordion {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
}

.accordion-button {
  font-weight: bold;
  text-decoration: none;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:enabled {
  color: white;
  background-color: rgb(24, 85, 131);
  font-weight: bold;
}

.accordion-button:hover {
  color: black;
}

li {
  cursor: pointer;
  list-style-type: none;
  padding-right: 0%;
  color: rgb(27, 117, 188);
  margin-bottom: 1px;
}

li:hover {
  text-decoration: underline;
  color: black;
}

#lista-final li {
  list-style-type: symbols('l');
  color: black;
  text-decoration: none;
  cursor: auto;
}

footer {
  position: relative;
  bottom: 0;
  margin: 0;
  margin-top: 2%;
  text-align: center;
  font-size: 8px;
}

/* responsividade
/* Telas 4K */
@media (min-width: 2560px) {
  #img-fundo {
    left: 20%;
  }

  #bloco-texto {
    margin-left: 45%;
    padding-top: 5%;
    font-size: 70px;
  }
}

/* Telas Laptop */
@media (max-width: 1024px) {
  #img-fundo {
    left: 3%;
  }

  #bloco-texto {
    margin-left: 48%;
    padding-top: 16%;
    font-size: 45px;
  }
}

/* Telas Tablet */
@media (max-width: 768px) {
  #img-fundo {
    left: -10%;
  }

  #bloco-texto {
    padding-top: 20%;
    font-size: 40px;
  }
}

/* Telas intermediárias */

@media (max-width: 568px) {
  #img-fundo {
    display: none;
  }

  #bloco-texto {
    margin-left: 13%;
    padding-top: 35%;
    font-size: 55px;
  }
  .accordion {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Mobile Large */
@media (max-width: 425px) {
  #img-fundo {
    display: none;
  }

  #bloco-texto {
    margin-left: 7%;
    margin-right: auto;
    padding-top: 40%;
    font-size: 50px;
  }
}

/* Mobile Medium */
@media (max-width: 375px) {
  #img-fundo {
    display: none;
  }

  #bloco-texto {
    margin-left: 10%;
    padding-top: 45%;
    font-size: 40px;
  }
}

/* Mobile Small */
@media (max-width: 320px) {
  #img-fundo {
    display: none;
  }

  #bloco-texto {
    margin-left: 10%;
    padding-top: 55%;
    font-size: 35px;
  }
}
